<!DOCTYPE html>

<html lang="cn">
<head>
    <!-- The jQuery library is a prerequisite for all jqSuite products -->
    <script type="text/ecmascript" src="/static/js/jquery.min.js"></script> 
    <!-- We support more than 40 localizations -->
    <script type="text/ecmascript" src="/static/i18n/grid.locale-cn.js"></script>
    <!-- This is the Javascript file of jqGrid -->   
    <script type="text/ecmascript" src="/static/js/jquery.jqGrid.min.js"></script>
    
    <script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/jquery.json.min.js"></script>
    <!-- A link to a Boostrap  and jqGrid Bootstrap CSS siles-->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css"> 
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/ui.jqgrid-bootstrap.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>测试Login</title>
</head>
<body>
昵称：{{ dict.nickname }} openid：{{ dict.openid }}</br>

<form class="form-horizontal" action="" method="post" id='bind'>
{% csrf_token %}

  
  <div class="form-group">
    <label for="username" class="col-xs-2 control-label">账户：</label>
    <div class="col-xs-10">
      {{ form.username }}
    </div>
  </div>
    
  
  <div class="form-group">
    <label for="Password" class="col-xs-2 control-label">密码：</label>
    <div class="col-xs-10">
      {{ form.userpwd }}
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-offset-2 col-xs-10">
      <button type="button" class="btn btn-default" id='subm'>绑定</button>
    </div>
  </div>
</form>
<div class="col-xs-offset-2 col-xs-10"><span id='result'></span></div>
<script>
    $(document).ready(function(){
      $("#subm").click(function(){
        
        $.ajax({
          type: 'POST',
          url: "/bind/{{ dict.nickname }}/{{ dict.openid }}/",
          data: $("#bind").serialize(),
          success: function(ret){
              $('#result').html('') //清空前面的结果
              $('#result').append(ret)
            }
        });
        
        });
      });
</script>
</body>
</html>